
/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;

    /*===== Colors =====*/
    --first-color: #FCA4A6;
    --first-color-dark: #C1576A;
    --first-color-darken: #A83E51;
    --white-color: #FCF8F8;

    /*===== Font and typography =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
  
    /*===== z index =====*/
    --z-fixed: 100;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 5rem;
        --normal-font-size: 1rem;
    }
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

h1,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*===== LAYOUT =====*/
.bd-grid{
    width: 1170px;
    margin:0 auto;
//  display: grid;
//    grid-template  -columns: 100%;
//    column-gap: 2rem;
   // width: calc(100% - 2rem);
   // margin-left: 1rem;
   // margin-right: 1rem;
}
.l-header{
   //width: 100%;
    display: flex;
     align-content: center;
     justify-content: space-between;
   //  margin:0 auto;
     padding: 48px 0;
   // position: fixed;
   // top: 0;
   // left: 0;
   // z-index: var(--z-fixed);
    background-color: var(--first-color);

/*===== NAV =====*/
  & .nav{
    height: var(--header-height);
    display: flex;
      grid-gap: 30px;
   //display: grid;
   //grid-template-columns:1fr 1fr 1fr 1fr; 
   //justify-content: space-between;
    align-items: center;
    &__logo{
       font-family: 'Proxima Nova - Extrabld';
         font-size: 30px;
         line-height: 1.2;
         font-weight: 400;
         color: #3c3d42;
    }
    &__menu{
          display: flex;
            grid-gap: 30px;
        @media screen and (max-width: 768px){
       
            //width: 70%;
            //height: 100%;
            //padding: 3.5rem 1.5rem 0;
            //background: rgba(255, 255, 255, 0.3);
            //backdrop-filter: blur(10px);
            //transition: .5s;
        }
   }
   
    
   // &__item{
   //     margin-bottom: 2rem;
   // }
}

 & .bg__info{
   
      display: flex;
      align-items: center;
      grid-gap: 30px;

    & .item{
       display: flex;
     grid-gap: 14px;
    }
      
   & img{
      //padding-top:5px;
     // max-width: 10.5%;
     // width: 100%;
      //object-fit:cover;
      display: flex;
      //justify-self: end;
      
   }
   & .phone{
      font-family: Raleway;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      color: #3c3d42;
   }
   & .mail{
      font-family: Raleway;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      color: #3c3d42;
      
   }
  }
 }

/*=== Show menu ===*/
.show{
    right: 0;
}

/*===== HOME =====*/
.home{
  
   background:url(/img/bg_140.svg) center no-repeat;
    background-color: var(--first-color);
    overflow: hidden;
   & .items{
    position:relative;
   }
    &__data{
      // position:relative;
      
         position: absolute;
         top:50px;
         left:0;
         & h2{
            font-family: Raleway;
            font-size: 36px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
         }
         & h3{
            font-family: Raleway;
            font-size: 36px;
            line-height: 1.2;
            font-weight: 300;
            color: #ffffff;
         }
         & p{
            font-family: Raleway;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #9dc7d1;
            margin: 50px 0;
            width: 470px;
            height: 60px;
         }
         & .btn{
            width: 240px;
            height: 60px;
            background-color: rgba(13,72,98,0.0);
            border: 3px solid rgba(255,255,255,0.49);
            border-radius:30px;
            padding: 20px 55px;
         }
         
    }

    &__container{
       //position: absolute;
       //background-image:url(/img/image_346.svg) center no-repeat;
       //  height: calc(100vh - var(--header-height));
      //  grid-template-rows: repeat(2, max-content);
      //  row-gap: 1.5rem;
       position: relative;
      & .one{
         margin-left:200px;
      }
      & .two{
         position: absolute;
         top:67px;
         left:661px;
      }
      
    }
    &__img{
        //position: relative;
        padding-top: 1.5rem;
        justify-self: center;
        width: 302px;
        height: 233px;

        & img{
            position: absolute;
            top: 0;
            left: 0;
        }
     
    }
   }

   .future{
     margin:100px 0;
      &__top{
        
         display: grid;
             justify-items: center;
         & h2{
            font-family: Raleway;
            font-size: 36px;
            line-height: 1.2;
            font-weight: 700;
            color: #636c6c;
         }
         & p{
            font-family: Raleway;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #afb8b8;
            width: 750px;
            text-align: center;
           
         }
      }
      &__middle{
         margin-top:100px;
         //display: grid;
         //grid-template-columns: 1fr 1fr; 
        position: relative;

         & .f__left{
            cursor: pointer;
            & .item{
               display: flex;
               align-items: center;
               margin-bottom:70px;
               & img{
                margin-right:40px;
               }
               & p{
                  display: block;
                  margin-right:40px;
               }
                & p:before{
                   content: url("/img/heart.png");
                   
                   align-items: center;
                    margin-right:40px;
                    padding-top:50px;
                }
                & p:hover::before{
                    content: url("/img/new-bag.png");
                }
               //   & img:hover+p{
               //      display: none;
               //  }
                & .sqr{
                   margin-right:68px;
                }
                   & .f__right{
                      position: absolute;
                      top:0;
                      left:500px;
                  display: none;       
                   } 
                & .hide3:hover+.f__right{
                    display: block;
                    }
                 & .active{
                      display: block;
                 }   
         }


         
            }
         
         & .f__right {
           // display: none;
            & .pic{
           display: grid;
           justify-content: center;
            & img{
               
               margin-bottom:80px;
            }
            }
         }
     
         
      }

   }   
   
.product{
   background-color: #f2f9fe;
      & .p-items{
         display: grid;
         grid-template-columns: 1fr 1fr;
         justify-content: space-between;
 align-items: center;
  position: relative;
  margin: bottom 70px;
         & .p-left{
            display: grid;
           
            & h2{
               font-family: Raleway;
               font-size: 36px;
               line-height: 1.2;
               font-weight: 700;
               color: #5dca88;   
               margin-bottom:20px;            
            }
            & .p-lane{
               width: 104px;
               //height: 2px;
               //background-color: #949c9c;
               border-bottom: 2px solid #949c9c;
            }

            & h3{
               font-family: Raleway;
               font-size: 36px;
               line-height: 1.2;
               font-weight: 400;
               color: #8c9494;
               margin:50px 0px;
            }
            & p{
               font-family: Raleway;
               font-size: 16px;
               line-height: 24px;
               font-weight: 400;
               color: #8c9494;
               margin-bottom:50px;
            }

            & .btn{
               width: 260px;
               //height: 60px;
               background-color: rgba(13,72,98,0.0);
               border: 3px solid rgba(99,108,108,0.49);
               border-radius:50px;
               font-family: Raleway;
               font-size: 21px;
               line-height: 1.2;
               font-weight: 700;
               color: #636c6c;
               padding: 20px 50px;

            }

// p-left
         }
      
         & .p-right{
            
            & .mobile{
            display: block;
            }
            & .screen{
               position: absolute;
               top:115px;
               left:663px;
            }
         }
   //  p-items
      }
}

.gallery{
   padding:100px 0;
     background-color: #999;
   & .top{
      display: grid;
   justify-items: center;
    padding-bottom:50px;
      & h2{
         font-family: Raleway;
         font-size: 36px;
         line-height: 1.2;
         font-weight: 700;
         color: #636c6c;
      }
      & p{
         font-family: Raleway;
         font-size: 16px;
         line-height: 24px;
         font-weight: 400;
         color: #afb8b8;
         width: 750px;
         text-align: center;
         }
   }

  & .rev_slider{
      // background-color: #999;
      & .slides{

         & .slide{
          margin-bottom:20px;
            
            & .mob{
               & img{
               //width: 296px;
               height: 622px;
               }
                    
            }
            & .text{
               font-family: Raleway;
               font-size: 14px;
               line-height: 24px;
               font-weight: 400;
               color: #fff; //#8c9494;
               width: 247px;
               height: 67px;
               text-align: center;
               
            }
         }
      }
   }
}
.slick-dots{
   color:#000;
   font-size: 50px;
  
}